<!DOCTYPE html>
<html>
    <head>
        <title>dmdb</title>
        <!-- style as catalog to maximise display space -->
        <style>
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                margin-top: 64px;
            }
            li {
                display: inline-block;
                padding-right: 64px;
                text-align: center;
            }
            img {
                width: auto;
                height: 256;
            }
        </style>
    </head>
    <body>
        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}.</p>
        <a href="admin/">Manage</a><br>
        <a href="{% url 'logout' %}">Log out</a><br>
        <!-- pass url to views.index -->
        <form method="post">
            {% csrf_token %}
            <label>Add new title: </label>
            <input type="text" name="imdb_url">
            <input type="submit" value="Add">
        </form>
        <ul>
            <h3>Movies</h3>
            {% for movie in movies %}
            <li>
                <p><b>{{movie.title}}</b> <i>({{movie.status}})</i></p>
                <a href="{{movie.imdb_URL}}"><img src="{{movie.poster}}" height="256" width="auto"></a>
            </li>
            {% endfor %}
        </ul>
        <ul>
            <h3>Series</h3>
            {% for series in tvseries %}
            <li>
                <p><b>{{series.title}}</b> <i>({{series.status}})</i></p>
                <a href="{{series.imdb_URL}}"><img src="{{series.poster}}" height="256" width="auto"></a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log in</a>
        {% endif %}
    </body>
</html>